
<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/carsinfo.css">
        <style>
            .sjkdfbjds{
                font-style:unset; 
                font-weight:500;
                margin-left: 25px;
                margin-top: 25px;
                font-size: 25px;
            }
        </style>
    </head>
    <body>
        

        </script>
        <header>
            <form action="/carsdetailsubmit" method="GET">
                <input type="text" placeholder="search" id="search" class="search" name="carname">
            </form> 
        </header>
        <div>
            <div class="row">
                <div class="col-4">
                    <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/2019-honda-civic-sedan-1558453497.jpg?crop=1xw:0.9997727789138833xh;center,top&resize=480:*" alt="Img of enjoying movie" >
                </div>
                <div class="col-4">
                    <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/BE5A/production/_123303784_gettyimages-524191066.jpg" alt="car image" height="300px" width="470px">
                </div>
                
                <div class="col-2 sjkdfbjds"> 
                    <p style="color: pink;">To know the information about any car type movie name in the search bar and hit on enter</p>
            </div>
            </div>
        </div>
       
    </body>
</html>



