
<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/weatherinfo.css">
    </head>
    <body>
        
      <!--  <link rel="stylesheet" href="script.js">-->
        <script src="/js/script.js">

        </script>
        <header>
            <form id="form" action="/countryinfoarticle" method="GET">
                <input type="text" placeholder="search" id="search" class="search" name="countryname">
            </form> 
        </header>
        <div>
            <div class="row">
                <div class="col-4">
                    <img  src="https://thumbs.dreamstime.com/z/culture-india-illustration-indian-map-showing-36200374.jpg" alt="Img of enjoying movie" width="400px" height="400px">
                </div>
                <div class="col-4">
                    <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7tH_D3Ubco7VtliB6u9GR7JLC5haplvuE1g&usqp=CAU" alt="Img of enjoying movie" width="400px" height="400px">
                </div>
                <div class="col-4 ">
                    <br>
                    <h1  style="color: pink;">To know about the articles of any country which was posted please type the countryname and hit on enter...</h1>
                </div>
                
        
        </div>
            
       
    </body>
</html>



