<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link href="/css/amar.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
       button{
           margin-left: 25px;
           margin-bottom: 25px;
           margin-left: 25px;
            margin-bottom: 25px;
            background-color: #4CAF50;
            border: 150;
            padding: 7px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 15px;
       }
    </style>
</head>
<body>
    <div class="odfusbviz">
        <div class="row">
            <div class="col-7">
                <a href="/">
                <i class="fa fa-home" style="font-size:38px"></i></a>
                <button onclick="alert('This is a website where you will be knowing About the information related to the movies,countries')">About</button>
            </div>
            <div class="col-4 colors">
                <a href="signup">
                <button type="button" onclick=" signup ">sign up</button></a>
                <a href="signin">
                    <button type="button" onclick=" signup ">sign in</button></a>
            </div>
            <br>
    </div>
    
    <div>
        <div class="row">
            <div class="col-2 fHfjkahsbmnfg">
                <img src="https://images.unsplash.com/photo-1532375810709-75b1da00537c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aW5kaWF8ZW58MHx8MHx8&w=1000&q=80" alt="India image" height="225px" width="225px">

            </div>
            <div class="col-3 fHfjkahsbmnfg">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7tH_D3Ubco7VtliB6u9GR7JLC5haplvuE1g&usqp=CAU" alt="us image">
            </div>
            <div class="col-3 fHfjkahsbmnfg">
                In this webpage you will be going to know the information regarding the updates of countries like India,US,...etc.
            </div>
    </div>
    <div>
        <div class="row">
            <div class="col-2 lsdfgbdshk">
                <img src="https://akm-img-a-in.tosshub.com/businesstoday/images/story/201705/baahubali-2_660_052617011118.jpg?size=1200:675" alt="Image of baahubali height="225px" width="325px" ">

            </div>
            <div class="col-2 siofla">
                <img src="https://images.hindustantimes.com/img/2022/04/01/550x309/RRR-Movie-Review_1648825470847_1648825479894.jpg" alt="Image of RRR movie height="225px" width="325px" ">
               
            </div>
            <div class="col-2 sfgjkbvs">
                <img src="https://resize.indiatvnews.com/en/resize/newbucket/1200_-/2022/07/liger-1-1658376806.jpg" alt="pic on liger" height="200px" weight="225px">

            </div>
            <div class="col-4 sjkfgbkb">
               <p> To know the information regarding the movies this website will be having the most information related to a movie</p>
            </div>
    </div>
    <p>If you still do not sign in please  <a href="/signup">signup</a> already a customer <a href="/signin">signin</a> </p>
    
</body>
</html>