<html>
    <head>
        <link rel="stylesheet" href="/css/hii.css">
        <link rel="stylesheet" href="/js/script.js">
    </head>
    <body>
        
        
        <main id="main">
            <div class="movie">
                <a href="http://localhost:3000/movieinfo">
                <img src="https://yt3.ggpht.com/ytc/AMLnZu_xgFo9yj5BX2BmRq9lRdsUNLp6pgFB2oiiAb_VKQ=s900-c-k-c0x00ffffff-no-rj" alt="hlo image"></a>
                <div class="movie-info">
                    <h3>Movie information</h3>
                    
                </div>
                <div class="overview">
                    Please click on the image to know information about any movie
                </div>
            </div>
            <div class="movie">
                <a href="http://localhost:3000/countryinfo">
                <img src="https://i.pinimg.com/736x/6b/d2/bd/6bd2bded700f4ce14189cd4565ac7e3b.jpg" alt="hlo image"></a>
                <div class="movie-info">
                    <h3>Country Information</h3>
                    
                </div>
                <div class="overview">
                    Please click on the image to know information about any Country
                </div>
            </div>
            <div class="movie">
                <a href="http://localhost:3000/carsinfo">
                <img src="https://etimg.etb2bimg.com/photo/94648252.cms" alt="hlo image"></a>
                <div class="movie-info">
                    <h3>Cars information</h3>
                    
                </div>
                <div class="overview">
                    Please click on the image to know information about  Cars
                </div>
            </div>
            <div class="movie">
                <a href="http://localhost:3000/weatherinfo">
                <img src="https://img.freepik.com/free-vector/hand-drawn-weather-effects_23-2149117711.jpg?w=2000" alt="hlo image" width="222px"></a>
                <div class="movie-info">
                    <h3>Weather information</h3>
                    
                </div>
                <div class="overview">
                    Please click on the image to know information about weather in any place
                </div>
            </div>
        </main>

    </body>
</html>