
<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/movieinfo.css">
        <style>
            .jkdgfvfkbvsd{
                font-style: italic;
                margin-left: 220px ;                                                                                               
            }
        </style>
    </head>
    <body>

        </script>
        <header>
            <form id="form" action="/searchmoviename">
                <input type="text" placeholder="search" id="search" class="search" name="moviename">
            </form> 
        </header>
        <div>
            <div class="row">
                <div class="col-4">
                    <img  src="/img/Moviepic.jpg" alt="Img of enjoying movie" >
                </div>
                <div class="col-4 jkdgfvfkbvsd">
                    <br>
                    <br><br><br><br>
                    <h1  style="color: pink;">To know the information about any movie type movie name in the search bar and hit on enter...</h1>
                </div>
                
        
        </div>
            
       
    </body>
</html>



