<html>
    <head></head>

    <body>
        



        <form action="/signinsubmit" method="GET">
            email :<input type="text" name="emil"><br>
            Password:<input type="password" name="passwrd"><br>
            <input type="submit">
        </form>
    </body>
</html>