<html>
    <head></head>

    <body>
        <style>
            body{
            text-align: center;
            background-color: yellowgreen;
            }
        </style>
        <div>
            <div class="row">
                <div class="col-1" style="align-items: left;">
                        <img src="https://imageio.forbes.com/specials-images/imageserve/5f1f37a40a5db2c8275972c0/-Photo-by-JOHN-THYS-AFP-via-Getty-Images-/960x0.jpg?format=jpg&width=960" alt="Image of tesla" height="250px" width="250px">
                        <img src="https://i.pinimg.com/originals/0e/ef/92/0eef925e3db67433594748e32e29d7d9.jpg" alt="pokiri image" height="250px" width="250px">
                        <img src="https://www.tollywood.net/wp-content/uploads/2021/07/12-Years-for-Magadheera.jpg" alt="Magadeera movie" height="250px" width="250px">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Apple_logo_black.svg/1200px-Apple_logo_black.svg.png" alt="apple image" height="250px" weight="250px">
                        <img src="https://akamaividz2.zee5.com/image/upload/w_1170,h_658,c_scale,f_webp,q_auto:eco/resources/0-0-2712/list/sathamanambhavathi740x416.jpg" alt="sathamanambhavathi" height="250px" width="250px">
                </div>
        </div>
        <p>Please sign into our website to know more about the information related to all the topics which were mentioned</p>

        <form action="/signinsubmit" method="GET">
            email: <br><input type="text" name="emil"><br>
            Password: <br><input type="password" name="passwrd"><br>
           <input type="submit">
        </form>

        
    </body>
</html>



