<html>
    <head></head>

    <body>
        



        <form action="/signupsubmit" method="GET">
            First name:  <input type="text" name="full_name"><br>
            Last name:<input type="text" name="last_name"><br>
            email :<input type="text" name="emil"><br>
            Password:<input type="password" name="passwrd"><br>
            <input type="submit">
        </form>
    </body>
</html>