
<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/weatherinfo.css">
        <style>
        </style>
    </head>
    <body>
        

        </script>
        <header>
            <form id="form" action="/weatherinfosearch" method="GET">
                <input type="text" placeholder="search" id="search" class="search" name="cityname">
            </form> 
        </header>
        <div>
            <div class="row">
                <div class="col-4">
                    <img  src="https://img.resized.co/lovindublin_com/eyJkYXRhIjoie1widXJsXCI6XCJodHRwczpcXFwvXFxcL2ltYWdlcy5sb3ZpbmR1Ymxpbi5jb21cXFwvdXBsb2Fkc1xcXC9pbWFnZXNcXFwvdXBsb2Fkc1xcXC8yMDE2XFxcLzEwXFxcL19yZWxhdGVkRW50cnlJbWFnZTJ4XFxcL3NodXR0ZXJzdG9ja18yODc2MDIxNDIuanBnXCIsXCJ3aWR0aFwiOjEyMDAsXCJoZWlnaHRcIjo2NzIsXCJkZWZhdWx0XCI6XCJodHRwczpcXFwvXFxcL2QyNmhlMDM4YTcwZGdzLmNsb3VkZnJvbnQubmV0XFxcL3dwLWNvbnRlbnRcXFwvdGhlbWVzXFxcL2xvdmluXFxcL2Fzc2V0c1xcXC9pbWdcXFwvY2FyZC1kZWZhdWx0LWxvdmluLWR1Ymxpbi5wbmdcIixcIm9wdGlvbnNcIjpbXX0iLCJoYXNoIjoiNmVlYjNjYTFjMjRhZjhiZjVhOTkxM2E3NzEzYzNlMzFkNjI2NjY3NSJ9/shutterstock-287602142.jpg" alt="Img of enjoying movie" width="400px" height="400px">
                </div>
                <div class="col-4 dljfbdsf">
                    <img  src="https://media.istockphoto.com/vectors/weather-icons-set-vector-id1225639749?k=20&m=1225639749&s=612x612&w=0&h=wMzoyNFDyx6ewmaBU_lnqp1R7EEpyvxVkdBcgb1Yt0o=" alt="Img of enjoying movie" width="400px" height="400px">
                </div>
                <div class="col-4 sdfpn">
                    <br>
                    <br><br><br><br>
                    <h1  style="color: pink;">To know the information about the temperature of  any city please enter city name...</h1>
                </div>
                
        
        </div>
            
       
    </body>
</html>



