
body{
    background-color: #121e108c;
    color: #48e3cff7;
}
a{
    color:#bc4c2eb5;
}
.lsdfgbdshk{
    margin-right: 25px;
}

.siofla{
    margin-left: 25px;
}

.fHfjkahsbmnfg{
    margin-bottom: 25px;
}

.sfgjkbvs{
    margin-left: 55px;
}

.sjkfgbkb{
    margin-left: 120px;
}