
body{
    background-color: #121e108c;
    color: yellow;
}
.lsdfgbdshk{
    margin-right: 25px;
}

.siofla{
    margin-left: 25px;
}

.fHfjkahsbmnfg{
    margin-bottom: 25px;
}

.sfgjkbvs{
    margin-left: 55px;
}

.sjkfgbkb{
    margin-left: 120px;
}